html{
    cursor: url(../Mata-mosquito-main/imagens/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(../Mata-mosquito-main/imagens/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mosquito1{
    height: 50px;
    width: 50px;
    position: absolute;
}

.mosquito2{
    height: 70px;
    width: 70px;
    position: absolute;
}

.mosquito3{
    height: 90px;
    width: 90px;
    position: absolute;
}

.ladoA{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.painel{
    position: absolute;
    left: 0px;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: 1px solid white;
    background-color: white;
    opacity: 0.7;
}

.vidas{
    float: left;
    font-size: 20px;
    font-weight: bold;
}